.app {
  font-family: sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  min-height: 100vh; /* Ensure the app takes at least the full viewport height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Keep content at the top initially */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
  box-sizing: border-box;
  width: 100%;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Apply different styles for light/dark mode */
.app.light-mode {
  background-color: var(--background-color);
  color: var(--text-color);
}

.app.dark-mode {
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Style scrollbars based on theme */
.dark-mode ::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.dark-mode ::-webkit-scrollbar-track {
  background: #333;
}

.dark-mode ::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 5px;
}

.dark-mode ::-webkit-scrollbar-thumb:hover {
  background: #777;
}

.light-mode ::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.light-mode ::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.light-mode ::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 5px;
}

.light-mode ::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}
